<%= form_with(model: delivery, local: true) do |form| %>
  <% if delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :delivery_name %>
  </div>

  <div class="field">
    <%= form.label :carrier_id %>
    <%= form.text_field :carrier_id, id: :delivery_carrier_id %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type, id: :delivery_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :delivery_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :delivery_status %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :delivery_address %>
  </div>

  <div class="field">
    <%= form.label :address_details %>
    <%= form.text_field :address_details, id: :delivery_address_details %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :delivery_city %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :delivery_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
