<p id="notice"><%= notice %></p>

<h1>Deliveries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Carrier</th>
      <th>Type</th>
      <th>Price</th>
      <th>Status</th>
      <th>Address</th>
      <th>Address details</th>
      <th>City</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.name %></td>
        <td><%= delivery.carrier %></td>
        <td><%= delivery.delivery_type %></td>
        <td><%= delivery.price %></td>
        <td><%= delivery.status %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.address_details %></td>
        <td><%= delivery.city %></td>
        <td><%= delivery.location %></td>
        <td><%= link_to 'Show', order_delivery_path(params[:order_id] , delivery.id) %></td>
        <td><%= link_to 'Edit', edit_order_delivery_path(params[:order_id] , delivery.id) %></td>
        <td><%= link_to 'Destroy', order_delivery_path(params[:order_id] , delivery.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery', new_order_delivery_path %>
