<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>
    <%= if user_signed_in? then link_to('Cerrar sesión', destroy_user_session_path, method: :delete) else link_to('Iniciar sesión', new_user_session_path) end %>
</p>
<ul>
    <li><%= link_to('Productos',products_path) %></li>
    <li><%= link_to('Lavanderías',laundries_path) %></li>
    <li><%= link_to('Suscripciones',suscriptions_path) %></li>
    <li><%= link_to('Pedidos',orders_path) %></li>
    <li><%= link_to('Cadetes',carriers_path) %></li>

</ul>

<!--- MAPA
    <div id="map"></div>
    <script>
      // This example adds a user-editable rectangle to the map.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -32.961385, lng: -60.649651},
          zoom: 14
        });

        var myLatLng = {lat: -32.961385, lng: -60.649651};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });

        var bounds = [
            {lat: -32.961185, lng: -60.649151},
            {lat: -32.961185, lng: -60.649951},
            {lat: -32.961485, lng: -60.649551},
            {lat: -32.961485, lng: -60.649751}
        ];

        // Define a rectangle and set its editable property to true.
        var rectangle = new google.maps.Polygon({
          paths: bounds,
          editable: true
        });
        rectangle.setMap(map);
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP9BJ5wfeQ23i_gVQe0tbczeHcIcKNLWQ&callback=initMap">
    </script>
--->