<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>
    <%= if user_signed_in? then link_to('Cerrar sesión', destroy_user_session_path, method: :delete) else link_to('Iniciar sesión', new_user_session_path) end %>
</p>
<ul>
    <li><%= link_to('Productos',products_path) %></li>
    <li><%= link_to('Lavanderías',laundries_path) %></li>
    <li><%= link_to('Suscripciones',suscriptions_path) %></li>
    <li><%= link_to('Pedidos',orders_path) %></li>
    <li><%= link_to('Cadetes',carriers_path) %></li>
    <li><%= link_to('Retiros y entregas',deliveries_path) %></li>

</ul>